/* General Styles for Large Screens */
.main-demand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top:70px;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
}

.On-demand {
    flex: 1;
    margin-right: 5%;
}

.videos {
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
}

/* Styles for Text Content */
.H1 {
    font-size: 3.5rem;
    line-height: 5rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Button Styling */
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

/* Responsive Styles for Small Screens */
/* Responsive Styles for Small Screens */
@media (max-width: 950px) {
    .main-demand {
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Center content vertically */
        height: 100vh; /* Full screen height */
        padding-top: 100px; /* Remove top padding to center fully */
    }

    .videos {
        display: none;
       
    }

    .On-demand {
        text-align: center;
        margin: 0;
    }

    .H1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    p {
        font-size: 0.9rem;
        line-height: 1.4rem;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        margin: 10px 0;
        font-size: 1rem;
        padding: 15px;
        background-color: #22b378;
        color: white;
    }
}
