.count{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    font-weight: 300;
    font-size: x-large;
}
.NotSure{
    margin-top: 100px;
}

@media (max-width:950px) {
    .count{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }  
}