.main-div{
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: space-around;
}
.contact-div{
    width: 50vw;
    margin-left: 3vw;
    line-height: 2vw;
    font-family: Arial, sans-serif;
    font-size: larger;
    color: white;
    margin-top: 5vw;
}
.texts{
    margin-top: 4vw;
    font-family: Arial, sans-serif;
    font-size: larger;
    line-height: 3vw;

}
.inputs{
    width: 50vw;
    margin-top: 5vw;
    margin-right: 3vw;
    color: white;
}

@media (max-width:950px) {
    .main-div{
        flex-direction: column;
    }
    .contact-div{
        width: 90vw;
        margin-left: 3vw;
        line-height: 2vw;
        font-family: Arial, sans-serif;
        font-size: larger;
    }
    .inputs{
        margin-top: 3vw;
        width: 90vw;
        margin-left: 3vw;
        line-height: 2vw;
        font-family: Arial, sans-serif;
        font-size: larger;
    }

    .texts{
        margin-top: 4vw;
        font-family: Arial, sans-serif;
        font-size: larger;
        line-height: 2;
    
    }
    
}