header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    font-size: 0.8rem;
}
.navbar {
    position: absolute;
    width: 100%;
    height: 76px;
    top: 0;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 3px solid #eee;
    align-items: center;
}

.navbar .container__logo{
    font-size: 2.9vw;
    flex: 5%;
    margin-left: 35px;
}

.navbar .container {
    height: 100%;
    display: flex;
    flex: 75%;
    justify-content: space-between;
    align-items: center;
}

.navbar span {
    color: #5651e5;
}

.navbar .nav-menu {
    display: flex;
     list-style-type: none;

}
.how__we__diffrent{
    background-color: #c3c0f7;
    color: black;
    margin-right: 20px;
}
.navbar .signin__button {
    display: flex;
    cursor: pointer;
    position: relative;
    flex: 10%;
    align-items: center;
}
.signin__button button {
    padding:10px 15px;
     border: 2px solid #0087ee;
    border-radius: 5px;
    -webkit-transition: opacity .2s,color .2s,border-color .2s,background-color .2s;
    transition: opacity .2s,color .2s,border-color .2s,background-color .2s;
    text-align: center;
    font-weight: 900;
    background-color: transparent;  
    color: #0087ee;

}
.after__signin{
      color: #0087ee;
      display: flex;
      position: fixed;
      align-items: center;
}
.signin__button__mobile{
    display: none;
}

.navbar li {
    padding: 1rem;
}

.hamburger {
    display: none;
}

.navbar .icon {
    font-size: 1.5rem;
}

@media screen and (max-width:1040px) {
    .hamburger {
        display: block;
        margin-right: 20px;
    }
 .navbar .container__logo{
    font-size: 25px;
    flex: 5%;
    margin-left: 25px;
}

    .navbar .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        top: 50px;
        right: -100%;
        width: 100%;
        background: rgba(255,255,255, .98);
        transition: 0.4s ease-in-out;
        z-index: 1000;
        
    }

    .navbar .active {
        right: 0;
    }

    .navbar .nav-menu li a {
        font-size: 1rem;
    }
    .navbar .signin__button{
    color: #0087ee;
    font-weight: 700;
    text-align: center;
    }
    .signin__button button{
        display: none;
    }
    .signin__button__mobile{
    flex: 40%;
    display: block;
    padding: 10px 15px !important;
    margin-right: 30px;
    font-size: 10px;
    text-align: center;
    background-color: transparent;  
    color: #0087ee;

}
.after__signin{
      color: #0087ee;
      display: flex;
      align-items: center;
      padding: 10px 15px !important;
      margin-right: 30px;
}

     .navbar .getQuote__btn  {
        display: none;
    }
}





